{% extends 'cabshare/base.html' %}

{% block content %}
        <div id="cabsharebox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
            <h4>User view</h4>
        {% if not user %}
            <div style="padding-top:10px">
                Sorry, user with the given username does not exist!
            </div>
        {% else %}
            <table class="table table-bordered">
                <tr>
                    <td>First Name</td>
                    <td>{{ user.first_name }}</td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td>{{ user.last_name }}</td>
                </tr>
                <tr>
                    <td>Username</td>
                    <td>{{ user.username }}</td>
                </tr>
                <tr>
                    <td>Date joined</td>
                    <td>{{ user.date_joined }}</td>
                </tr>
            </table>
        {% endif %}
        </div>
{% endblock %}
