{% extends 'accounts/base.html' %}

{% block title %}Registration successful!{% endblock %}

{% block body %}
        <div id="checkmailbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        {% if title %}
                            {{ title }}
                        {% else %}
                            Some stupid error.
                        {% endif %}
                        <span style="float:right;">
                            <a class="panel_a" id="signinlink" href="{% url 'user:login' %}">Sign In</a>
                        </span>
                    </div>
                </div>

                <div style="padding-top:30px" class="panel-body">
                    {% if message %}
                        {{ message }}
                    {% else %}
                        Some stupid error.
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}
