{% extends 'base.html' %}

{% block title %}Change password{% endblock %}

{% block content %}
        <div id="loginbox" class="mainbox col-xs-12 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title">Change password</div>
                </div>

                <div style="padding-top:30px" class="panel-body" >
                    <form id="form" class="form-horizontal" role="form" action="#" method="post">
                        {% csrf_token %}

                        {% for error in form.password_old.errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                            &times;
                            </button>{{ error }}
                        </div>
                        {% endfor %}
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                            <input id="id_password_old" type="password" class="form-control" name="password_old" placeholder="original password" title="original password" required="required" autofocus/>
                        </div>

                        {% for error in form.password.errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                            &times;
                            </button>{{ error }}
                        </div>
                        {% endfor %}
                        {% for error in form.password_re.errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                            &times;
                            </button>{{ error }}
                        </div>
                        {% endfor %}
                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                            <input id="id_password" type="password" class="form-control" name="password" placeholder="new password" title="new password" required="required">
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                            <input id="id_password_re" type="password" class="form-control" name="password_re" placeholder="confirm new password" title="confirm new password" required="required">
                        </div>

                        <div style="margin-top:10px" class="form-group">
                            <!-- Button -->
                            <div class="col-sm-12 controls">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}
