{% extends 'accounts/base.html' %}

{% block title %}Reset password{% endblock %}

{% block content %}
        <div id="passbox" style="margin-top:25px;" class="mainbox col-xs-12 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title">New Password</div>
                </div>

                <div style="padding-top:30px" class="panel-body" >
                    <form id="form" class="form-horizontal" role="form" action="#" method="post">
                        {% csrf_token %}

                        {% if form.errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                            &times;
                            </button>Sorry, invalid password reset request!
                            <a href="{% url 'user:password_reset_req' %}">Request again?</a>
                        </div>
                        {% endif %}

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                            <input id="id_password" type="password" class="form-control" name="password" placeholder="new password" title="new password" required="required" autofocus/>
                        </div>

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                            <input id="id_password_re" type="password" class="form-control" name="password_re" placeholder="confirm password" title="confirm password" required="required">
                        </div>

                        <div style="margin-top:10px" class="form-group">
                            <!-- Button -->
                            <div class="col-sm-12 controls">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}
