{% extends 'accounts/base.html' %}

{% block title %}Password reset request{% endblock %}

{% block nav_bar %}{% endblock %}

{% block content %}
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info" >
                <div class="panel-heading">
                    <div class="panel-title">Password reset request</div>
                </div>

                <div style="padding-top:30px" class="panel-body" >
                    <form id="form" class="form-horizontal" role="form" action="{% url 'user:password_reset_req' %}" method="post">
                        {% csrf_token %}

                        {% if form.errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                            &times;
                            </button>
                            That username does not exist! Did you 
                            <a href="{% url 'user:register' %}">register?!</a>
                        </div>
                        {% endif %}

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                            <input id="id_username" type="text" class="form-control" name="username" value="" placeholder="username" required="required" autofocus/>
                            <span class="input-group-addon">@mu-sigma.com</span>
                        </div>

                        <div style="margin-top:10px" class="form-group">
                            <!-- Button -->
                            <div class="col-sm-12 controls">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}
