{% extends 'base.html' %}

{% block title %}Mu Katta - Registration{% endblock %}

{% block scripts_head %}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block content %}
        <div id="signupbox" style="margin-top:50px" class="mainbox col-xs-12 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Sign Up
                        <span style="float:right;">
                            <a class="panel_a" id="signinlink" href="{% url 'user:login' %}">Sign In</a>
                        </span>
                    </div>
                </div>
                <div style="padding-top:30px" class="panel-body">
                    <form id="form" class="form-horizontal" role="form" action="{% url 'user:register' %}" method="post">
                        {% csrf_token %}

                        {% if form.username.errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                            &times;
                            </button>
                            {% for error in form.username.errors %}{{ error }} {% endfor %}
                        </div>
                        {% endif %}

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                            <input id="id_username" type="text" class="form-control" name="username" value="" placeholder="Mu Sigma username" title="Mu Sigma id (e.g. ashish.patil [ashish.patil@mu-sigma.com])" required="required" autofocus/>
                        </div>

                        {% if form.first_name.errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                            &times;
                            </button>
                            Sorry, please enter your name!
                        </div>
                        {% endif %}

                        <div style="margin-bottom: 25px" class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-align-left"></i>
                            </span>
                            <input id="id_first_name" type="text" class="form-control" name="first_name" value="" placeholder="First Name" title="First name" required="required"/>
                        </div>

                        {% if form.last_name.errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                            &times;
                            </button>
                            Sorry, please enter your name!
                        </div>
                        {% endif %}

                        <div style="margin-bottom: 10px" class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-align-right"></i>
                            </span>
                            <input id="id_last_name" type="text" class="form-control" name="last_name" value="" placeholder="Last Name" title="Last name" required="required"/>
                        </div>

                        {% for error in form.register_swear.errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                            &times;
                            </button>{{ error }}
                        </div>
                        {% endfor %}

                        <div class="input-group form_concise">
                            <div class="checkbox">
                                <label title="I solemnly swear that I am up to no bad!">
                                    <input id="id_register_swear" type="checkbox"
                                name="register_swear" title="Sanity check/compulsion" checked="checked"> I won't abuse the website or its users in ANY way.
                                </label>
                            </div>
                        </div>

                        <!-- Google ReCaptcha div -->
                        <div class="g-recaptcha" data-sitekey="6Leejf8SAAAAACW3bQ-a91juUWJIdIK2DAjhFes7"></div>
                        <!-- End of ReCaptcha -->

                        <div style="margin-top:10px" class="form-group">
                            <!-- Button -->
                            <div class="col-sm-12 controls">
                                <button type="submit" class="btn btn-success">Register</button>
                            </div>
                        </div>

                    </form>
                 </div>
            </div>
        </div>
{% endblock %}
