{% extends 'accounts/base.html' %}

{% block title %}Mu Katta registration{% endblock %}

{% block content %}
        <div id="signupbox" style="margin-top: 50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Sign Up
                        <span style="float:right;">
                            <a id="signinlink" href="{% url 'user:login' %}">Sign In</a>
                        </span>
                    </div>
                </div>
                <div class="panel-body">
                    <form id="form" class="form-horizontal" role="form" action="{% url 'user:register' %}" method="post">
                        {% csrf_token %}

                        {% if form.errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                            &times;
                            </button>
                            Sorry, unable to process request. Re-registering?!
                        </div>
                        {% endif %}

                        <div class="form-group">
                            <label for="username" class="col-md-3 control-label">Username</label>
                            <div class="col-md-9">
                                <div class="input-group">
                                    <input id="id_username" type="text" class="form-control" name="username" placeholder="Username"  required="required">
                                    <span class="input-group-addon">@mu-sigma.com</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="first_name" class="col-md-3 control-label">First Name</label>
                            <div class="col-md-9">
                                <input id="id_firs_tname" type="text" class="form-control" name="first_name" placeholder="First Name" required="required">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="last_name" class="col-md-3 control-label">Last Name</label>
                            <div class="col-md-9">
                                <input id="id_las_tname" type="text" class="form-control" name="last_name" placeholder="Last Name" required="required">
                            </div>
                        </div>

                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-md-offset-3 col-md-9">
                                <button id="btn-signup" type="submit" class="btn btn-info">
                                    Sign Up
                                </button>
                            </div>
                        </div>
                    </form>
                 </div>
            </div>
        </div>
{% endblock %}
