{% extends 'base.html' %}

{% block title %}RoomReq - Edit post{% endblock %}

{% block scripts_head %}
    <style>
        html {
           overflow-y: scroll; /*for vertical scroll bar*/
        }
    </style>
{% endblock %}

{% block content %}
        <div id="roomreqbox" class="mainbox col-xs-12 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
            <center><h4>Update RoomReq post</h4></center>
            <div style="padding-top:10px">
                {# Display the form #}
                {% if allowed %}
                    <form id="form" action="{{ cur_post_url }}edit/" method="post" class="form-horizontal">
                        {% csrf_token %}

                        <center>
                        <div class="input-group form_concise">
                            <!--<span class="input-group-addon">
                                <i class="glyphicon glyphicon-off"></i>
                            </span>-->
                            <select id="id_req_open" class="form-control" name="req_open" title="Requirement status of the post">
                                <option title="The post will be visible to other users." value="O" {% if post_open %}selected="selected"{% endif %}>Open</option>
                                <option title="This will hide the post from other users. A post can be re-opened!" value="C" {% if not post_open %}selected="selected"{% endif %}>Closed</option>
                            </select>
                        </div>
                        </center>

                    <div class="input-group form_concise">
                        <span class="input-group-addon">Availability for</span>
                        <select id="id_gender_req" class="form-control" name="gender_req" title="Flatmate gender requirement">
                            <option title="Requirement is for male colleagues only" value="M" {% if gender_m %}selected="selected"{% endif %}>Males only</option>
                            <option title="Requirement is for female colleagues only" value="F" {% if gender_f %}selected="selected"{% endif %}>Females only</option>
                            <option title="No gender preference! :)" value="A" {% if gender_a %}selected="selected"{% endif %}>Any gender</option>
                        </select>
                    </div>

                    <div class="input-group form_concise">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-earphone"></i>
                        </span>
                        <input id="id_contact_number" type="text" class="form-control" name="contact_number" value="{{ form.contact_number.value }}" placeholder="Contact number (optional)" title="This form field is optional" autofocus/>
                    </div>

                    <div class="input-group form_concise">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-map-marker"></i>
                        </span>
                        <input id="id_locality" type="text" class="form-control" name="locality" value="{{ form.locality.value }}" placeholder="Locality / Society name" required="required" title="e.g. Prestige Shantiniketan"/>
                    </div>

                    <div id="div_id_rent" class="input-group form_concise">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-usd"></i>
                        </span>
                        <input id="id_rent" type="number" class="form-control" name="rent" value="{{ form.rent.value }}" placeholder="Rent (in Rs.)" required="required" title="Rent (make required assumptions for sharing)"/>
                    </div>

                    <div id="div_id_deposit" class="input-group form_concise">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-usd"></i>
                        </span>
                        <input id="id_deposit" type="number" class="form-control" name="deposit" value="{{ form.deposit.value }}" placeholder="Deposit (in Rs.)" required="required" title="Deposit (e.g. 25000 or 0 if not required)"/>
                    </div>

                    <div id="div_id_vacancies" class="input-group form_concise">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-user"></i>
                        </span>
                        <input id="id_vacancies" type="number" class="form-control" name="vacancies" value="{{ form.vacancies.value }}" placeholder="Total vacancies (no.)" required="required" title="Number of vacancies in your flat (no. of persons)"/>
                    </div>

                    <center>
                    <div class="input-group form_concise">
                    <div class="checkbox">
                        <label>
                        <input id="id_immediate_possession" type="checkbox" name="immediate_possession" title="Can the new flatmate move-in right away?" {% if form.immediate_possession.value %}checked="checked"{% endif %}/> Available for immediate possession!
                        </label>
                    </div>
                    </div>
                    </center>

                    <div id="div_id_available_from" class="input-group form_concise">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </span>
                        {{ form.available_from }}
                    </div>

                    <textarea id="id_more_details" class="form-control form_spaced" name="more_details" rows="4" placeholder="Detailed description. Amenities. Single/Double sharing options, etc." title="Provide additional details here">{{ form.more_details.value }}</textarea>

                    <center>
                    <div class="form-group form_spaced" style="margin-top: 25px;">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                            <button type="submit" class="btn btn-danger">Update</button>
                        </div>
                    </div>
                    </center>
                </form>
                {% elif does_not_exist %}
                    Sorry, post with the given id does not exist!
                {% else %}
                    You are not the "Dark Lord" to control others, or their posts!
                {% endif %}
            </div>
        </div>
{% endblock %}

{% block scripts_body_extra %}
    <script>
        $("#id_available_from").attr("class", "form-control");
        $("#id_available_from").attr("type", "date");

        {% if form.immediate_possession.value %}
            $("#div_id_available_from").hide();
        {% endif %}

        $('#id_immediate_possession').change(function() {
            if ($(this).is(":checked")) {
                $("#div_id_available_from").hide();
            }
            else {
                $("#div_id_available_from").show();
            }
        });
    </script>
{% endblock %}
