{% extends 'base.html' %}

{% block title %}RoomReq - Post{% if cur_post %} {{ cur_post.id }}{% endif %}{% endblock %}

{% block content %}
        <div id="roomreqbox" class="mainbox col-xs-12 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
            <h4>RoomReq post{% if cur_post %} - <a href="{{ cur_post_url }}">{{ cur_post.id }}</a>{% endif %}
                {% if cur_post %}{% if cur_post.editable %}
                    <span style="float:right;"><a href="{{ cur_post_url }}edit/">Edit</a></span>
                {% endif %}{% endif %}
            </h4>
        {% if not cur_post %}
            <div style="padding-top:10px">
                Sorry, post with the given id does not exist!
            </div>
        {% else %}
            <table class="table table-bordered">
                <tr>
                    <td>Status</td>
                    <td>{% if active %}Active{% else %}Closed{% endif %}</td>
                </tr>
                <tr>
                    <td>Posted by</td>
                    <td><a href="/user/{{ cur_post.owner.username }}/">{{ cur_post.owner.first_name }} {{ cur_post.owner.last_name }}</a></td>
                </tr>
                {% if cur_post.contact_number %}
                <tr>
                    <td>Contact No.</td>
                    <td>{{ cur_post.contact_number }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td>Gender req.</td>
                    <td>{{ cur_post.gender_cont }}</td>
                </tr>
                <tr>
                    <td>Locality</td>
                    <td>{{ cur_post.locality }}</td>
                </tr>
                <tr>
                    <td>Rent</td>
                    <td>Rs. {{ cur_post.rent }}/mo.</td>
                </tr>
                <tr>
                    <td>Deposit</td>
                    <td>Rs. {{ cur_post.deposit }}</td>
                </tr>
                <tr>
                    <td>Vacancies</td>
                    <td>{{ cur_post.vacancies }}</td>
                </tr>
                <tr>
                    <td>Immediate Possession</td>
                    <td>{% if cur_post.immediate_possession %}Yes{% else %}No{% endif %}</td>
                </tr>
                {% if cur_post.immediate_possession %}
                <tr>
                    <td>Possession from</td>
                    <td>{{ cur_post.available_from }}</td>
                </tr>
                {% endif %}
                <tr>
                    <td>More details</td>
                    <td>{{ cur_post.more_details }}</td>
                </tr>
            </table>
        {% endif %}
        </div>
{% endblock %}
