*.py[co]
*.sw[po]
*.bak
*.orig
*~
.project
.pydevproject

## virtualenv
venv/*

## Build associated
Mu_Katta.egg-info/*
build/*
dist/*

## For passwords, etc.
secrets.py


## Coverage
.coverage
# .coveragerc
coverage/
