h1, h2, h3, h4 {
    color: orange;
}

hr {
    border-color: white;
    border-top: 1px dashed white !important;
}

a {
    color: orange;
}

a:hover {
    color: orange;
    text-decoration: none;
}

.panel_a {
    color: #222222;
}

.panel_a:hover {
    color: #222222;
    text-decoration: none;
}

.form_concise {
    margin-bottom: 10px;
}

.form_spaced {
    margin-bottom: 25px;
}
