h1, h2, h3, h4 {
    color: orange;
}

hr {
    border-color: white;
    border-top: 1px dashed white !important;
}

.form_concise {
    margin-bottom: 10px;
}

.form_spaced {
    margin-bottom: 25px;
}
