{% extends 'base.html' %}

{% block title %}About MuKatta{% endblock %}

{% block content %}
        <div id="top" class="mainbox col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12" style="background-color:#222222; margin-bottom:30px;">
            <h3>About...
                {% if not request.user.is_authenticated %}
                <span style="float:right">
                <a class="btn btn-success" href="{% url 'user:login' %}" role="button">Sign In</a>
                <a class="btn btn-success" href="{% url 'user:register' %}" role="button">Register</a>
                </span>
                {% endif %}
            </h3><hr>

            <div style="font-family:arial,sans-serif;">
            <p>
                <a class="btn btn-primary btn-sm" href="#what">What</a> |
                <a class="btn btn-primary btn-sm" href="#tech">How</a> |
                <a class="btn btn-primary btn-sm" href="#privacy">Privacy</a> |
                <a class="btn btn-primary btn-sm" href="#contact">Contact me</a>
            </p>
            <p style="font-size:16px;" id="info">
                This is a free web app developed & maintained by <a href="http://about.me/ashishnitinpatil" target="_blank">Ashish Nitin Patil</a>.<br>
                It is exclusive to Mu Sigmans (official email id needed to register).<br><br>
                <font style="color:red;">Disclaimer: Mu Katta is NOT an official website of Mu Sigma!</font><br>
            </p>

            <h4 id="what">Mu Katta is a simple attempt at easing the following problems...</h4>
            <p style="font-size:16px;"><ul>
                <li>Want to share a cab to airport?</li>
                <li>Hunting for a room-mate or a new place to move in?</li>
                <li>Want to carpool to work? (conceptual stage... hop in!)</li>
            </ul></p>

            <h4 id="tech">Technical details...</h4>
            <p style="font-size:16px;">
                The web app is powered by the <a href="https://openshift.redhat.com">Open Shift</a> cloud platform by Red Hat.
                <br>It runs on <a href="https://www.python.org">Python</a> & uses the <a href="https://www.djangoproject.com/">Django</a> web framework.
                <br>The <a href="http://getbootstrap.com/">Bootstrap 3</a> & <a href="https://github.com/dyve/django-bootstrap3">django-bootstrap3</a> utilities make the site "pretty".<br>
                Contact me if you need any further info!<br>
            </p>

            <h4 id="privacy">Privacy & TnC...</h4>
            <p style="font-size:16px;">
                Even though the website code is <a href="https://github.com/ashishnitinpatil/mukatta">Open Sourced</a>, it is very secure.<br>
                No third party (non Mu Sigma email ids) can access website data.<br>
                No, I <a href="https://docs.djangoproject.com/en/dev/topics/auth/passwords/">cannot access your plaintext passwords</a>.<br>
                For legalities, refer to the <a href="https://github.com/ashishnitinpatil/mukatta/blob/master/licenses/LICENSE.txt">project licensing</a>.<br>
            </p>

            <h4 id="contact">Contact me...</h4>
            <p style="font-size:16px;">
                For feedback/suggestions/bugs, email me at <a href="mailto:ashishnitinpatil@gmail.com">ashishnitinpatil@gmail.com</a>.<br>
                Please mention "Mu Katta" in the subject line!<br>

                <br>More useful web apps from me - 
                <br><ul>
                    <li><a href="https://vnitresanalyser.appspot.com">VNIT Result Analyser</a></li>
                    <li><a href="https://vnitstudentnotifications.appspot.com">VNIT Student Notifications</a></li>
                    <li><a href="https://vnitlostnfound.appspot.com">VNIT Lost n Found</a></li>
                    <li><a href="https://vnittimetable.appspot.com">VNIT Time Table Generator</a></li>
                </ul>
                Do checkout the <a href="https://github.com/ashishnitinpatil/mukatta">Github repo</a> for this Open Source project!<br>
            </p>
            <p style="font-size:16px;">Finally, thanks to a special someone to keep me motivated.<p>
            <a class="btn btn-primary btn-sm" href="#top">Back to top</a>
            </div>
        </div>
{% endblock %}
