{% extends 'base.html' %}

{% block title %}About MuKatta{% endblock %}

{% block body %}
        <div id="top" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 jumbotron" style="background-color:#222222;">
            <h2>About Mu Katta...
                <span style="float:right">
                <a class="btn btn-success" href="{% url 'user:login' %}" role="button">Sign In</a>
                <a class="btn btn-success" href="{% url 'user:register' %}" role="button">Register</a>
                </span>
            </h2><hr>

            <div style="font-family:Arial,sans-serif">
            <p>
                <a class="btn btn-primary btn-sm" href="#info">Info</a> |
                <a class="btn btn-primary btn-sm" href="#what">Why MuKatta</a> |
                <a class="btn btn-primary btn-sm" href="#privacy">Privacy & TnC</a> |
                <a class="btn btn-primary btn-sm" href="#contact">Contact me</a> |
                <a class="btn btn-primary btn-sm" href="#tech">Tech details</a>
            </p>
            <p style="font-size:16px;" id="info">
                This is a free web app developed & maintained by <a href="http://about.me/ashishnitinpatil" target="_blank">Ashish Nitin Patil</a>.<br>
                It is exclusive to Mu Sigmans (official email id needed to register).<br>
                <br><font size="5;">Mu Katta is <font style="color:red;">NOT an official website</font> of Mu Sigma!</font><br>
            </p>

            <h4 id="what">Mu Katta is a simple attempt at easing the following problems...</h4>
            <p style="font-size:16px;"><ul>
                <li>Want to share a cab to airport?</li>
                <li>Hunting for a room-mate or a new place to move in? (coming soon...)</li>
                <li>Want to carpool to work? (coming soon... maybe)</li>
            </ul></p>

            <h4 id="privacy">Privacy & ToC...</h4>
            <p style="font-size:16px;">
                It's a helpful attempt at easing the pain of my fellow Mu Sigmans.<br>
                Even though the website is <a href="https://github.com/ashishnitinpatil/mukatta">Open Sourced</a>, it is very secure.<br>
                No third party (non Mu Sigma email ids) can view website data<br>
                <a href="https://docs.djangoproject.com/en/dev/topics/auth/passwords/">Even I cannot view your plaintext passwords</a><br>
                For legalities, refer to the <a href="https://github.com/ashishnitinpatil/mukatta/blob/master/licenses/LICENSE.txt">project licensing</a>.<br>
            </p>

            <h4 id="contact">Contact me...</h4>
            <p style="font-size:16px;">
                For feedback/suggestions, email me at <a href="mailto:ashishnitinpatil@gmail.com">ashishnitinpatil@gmail.com</a><br>
                Please mention "Mu Katta" in the subject line!<br>
            </p>

            <h4 id="tech">Technical details...</h4>
            <p style="font-size:16px;">
                The web app is powered by the <a href="https://openshift.redhat.com">Open Shift</a> cloud platform by Red Hat.
                <br>It runs on <a href="https://www.python.org">Python</a> & uses the <a href="https://www.djangoproject.com/">Django</a> web framework.
                <br>The "pretty"ness of the site is due to <a href="http://getbootstrap.com/">Bootstrap 3</a> & <a href="https://github.com/dyve/django-bootstrap3">django-bootstrap3</a> utilities.<br>

                <br>More useful web apps from me - 
                <br><ul>
                    <li><a href="https://vnitresanalyser.appspot.com">VNIT Result Analyser</a></li>
                    <li><a href="https://vnitstudentnotifications.appspot.com">VNIT Student Notifications</a></li>
                    <li><a href="https://vnitlostnfound.appspot.com">VNIT Lost n Found</a></li>
                    <li><a href="https://vnittimetable.appspot.com">VNIT Time Table Generator</a></li>
                </ul>
                For the geeks out there, checkout the <a href="https://github.com/ashishnitinpatil/mukatta">Github repo for this Open Source project!</a><br>

            </p>
            <a class="btn btn-primary btn-sm" href="#top">Back to top</a>
            </div>
        </div>
{% endblock %}
