<!DOCTYPE html>
{# Load the tag library #}
{% load bootstrap3 %}
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="/static/favicon.png"/>
	<link rel="shortcut icon" href="/static/favicon.png"/>
	<link rel="apple-touch-icon" href="/static/favicon.png"/>
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.darkly.min.css" rel="stylesheet"/>
	<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen"/>
    <title>{% block title %}Mu Katta{% endblock %}</title>
    {% block scripts_head %}{% endblock %}
</head>
<body>
{% block body %}
    <div id="main_wrapper" class="container">
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    {% block nav_bar %}
    <nav class="navbar navbar-default col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2" role="navigation">
        <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <a class="navbar-brand" href="{% url 'about' %}">Mu Katta</a>
            <ul class="nav navbar-nav">
                <li><a href="{% url 'cabshare_index' %}">Cabshare</a></li>
                <li><a href="#">RoomReq (coming soon...)</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/user/{{ request.user.username }}/" class="navbar-link"></a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="glyphicon glyphicon-user"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/user/{{ request.user.username }}/">Account</a></li>
                    <li><a href="{% url 'cabshare:my_posts' %}">Cabshare posts</a></li>
                    <li><a href="#">RoomReq posts</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'user:logout' %}">Logout</a></li>
                  </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    {% endblock %}
    {% block content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts_body %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>
