<!DOCTYPE html>
{# Load the tag library #}
{% load bootstrap3 %}
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
    <link rel="icon" href="/static/favicon.png" />
	<link rel="shortcut icon" href="/static/favicon.png" />
	<link rel="apple-touch-icon" href="/static/favicon.png"/>
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.darkly.min.css" rel="stylesheet">
    <title>{% block title %}Mu Katta{% endblock %}</title>
    {% block scripts_head %}{% endblock %}
</head>
<body>
{% block body %}
    <div id="main_wrapper" class="container">
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    {% block content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts_body %}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>
