{% extends 'cabshare/base.html' %}

{% block content %}
        <div id="cabsharebox" class="mainbox col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <center><a class="btn btn-info" href="{% url 'cabshare:new_post' %}">Post new req.</a></center>
            <center><h4>Latest cab sharing requirements</h4></center>
            {% if not posts %}
                <div style="padding-top:10px">
                    No active cab sharing requirements at the moment.
                </div>
            {% endif %}
            <div style="padding-top:10px; padding-bottom:25px;">
            {% for post in posts %}
                <div class="list-group">
                    <div class="list-group-item">
                    To {{ post.destination }} on {{ post.travel_date }} {{ post.travel_time }}<br>
                    - <a href="/user/{{ post.owner.username }}/">{{ post.owner.first_name }} {{ post.owner.last_name }}</a>
                    <span style="float:right">{% if post.editable %}<a href="{{ post.url }}edit/">Edit</a> | {% endif %}<a href="{{ post.url }}">Details</a></span>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
{% endblock %}
