{% extends 'cabshare/base.html' %}

{% block content %}
        <div id="cabsharebox" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        Latest cab sharing requirements
                    </div>
                </div>
        {% if not posts %}
                <div style="padding-top:30px" class="panel-body">
                    No active cab sharing requirements at the moment.
                </div>
        {% endif %}
                <div style="padding-top:30px" class="panel-body">
                {% for post in posts %}
                <div class="list-group">
                    <div class="list-group-item">
                    To {{ post.destination }} on {{ post.travel_date }} {{ post.travel_time }}
                    <span style="float:right">{% if post.editable %}<a href="{{ post.url }}edit/">Edit</a> | {% endif %}<a href="{{ post.url }}">Details</a></span><br>
                    - <a href="/user/{{ post.owner.username }}/">{{ post.owner.first_name }} {{ post.owner.last_name }}</a>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}
