{% extends 'cabshare/base.html' %}

{% block content %}
        <div id="cabsharebox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        Cab sharing requirement{% if not cur_post %} - {{ cur_post.id }}{% endif %}
                    </div>
                </div>
        {% if not cur_post %}
                <div style="padding-top:30px" class="panel-body">
                    Sorry, post with the given id does not exist!
                </div>
        {% else %}
                <div style="padding-top:30px" class="panel-body">
                    {{ cur_post.owner.first_name }} {{ cur_post.owner.last_name }} {% if cur_post.contact_number %}({{ cur_post.contact_number }}){% endif %}<br>
                    {{ cur_post.destination }} @ {{ cur_post.travel_time }}, {{ cur_post.travel_date }}
                </div>
        {% endif %}
            </div>
        </div>
{% endblock %}
